body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #e6ebff;
    margin: 0;
    padding: 0;
}

h1{
    color: #1a4fb1;
}

header {
    text-align: center;
}

header img.banner {
    width: 600px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

#quiz-container {
    border-radius: 8px;
    max-width: 560px;
    margin: 20px auto;
}

.question-container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.answers label {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.answers input[type="radio"] {
    margin-right: 10px;
}

.answers label:hover {
    background-color: #e0e0e0;
}

label.correct {
    background-color: #76c7c0;
}

label.incorrect {
    background-color: #d9534f;
}

label.disabled {
    pointer-events: none;
    opacity: 0.6;
}

#submit-all-btn {
    padding: 10px 20px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#submit-all-btn:hover {
    background-color: #303f9f;
}

.result {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 10px;
    margin-top: 10px;
}

.result.correct {
    border-color: #76c7c0;
}

.result.incorrect {
    border-color: #d9534f;
}
